spring:
  application:
    name: jenkins-demo

server:
  port: 8081

logging:
  level:
    root: INFO
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: TRACE
    com.jenkins: DEBUG
